#view_card {
  border-radius: 20px !important;
  height: 600px !important;
  width: 800px;

}

#post_container {
  margin-top: 200px;
}

#post_content {
  margin-top: 30px;
  height: 330px;
  overflow-y: scroll;
  width: 100%;
  display: inline-block;
}

#comments_section {
  margin-top: 30px;
  width: 800px;
  border-radius: 20px !important;
}