#view_card {
  border-radius: 20px !important;
  height: 600px !important;
  width: 800px;
}

#post_container {
  margin-top: 200px;
}

#post_content {
  margin-top: 30px;
  height: 330px;
  overflow-y: scroll;
  width: 100%;
  display: inline-block;
}

#comments_section {
  margin-top: 30px;
  width: 800px;
  border-radius: 20px !important;
}

.entry_item {
  overflow-y: scroll;
  height: 130px;
  margin-bottom: 20px;
}

.entry_stats {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.comment_stat {
  margin-left: 20px !important;
}

#comments_entries {
  overflow-y: scroll;
  height: 420px !important;
  border-radius: 10px;
}

.heart-liked {
  color: wheat;
}

#like_btn {
  background-color: white;
  border-style: none;
}