{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog | Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}">
  <!-- Bootstrap, JavaScript Bundle with Popper -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- Templates custom CSS and JS files  -->
  {% block css %}
  {% endblock %}

  {% block script %}
  {% endblock %}
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body class="container">
  
  <div>
    {% if user.is_authenticated %}
      <p id="nav_username">Hi, {{ user.username }}!</p>
      <a href="{% url 'blog:author_posts' user.username %}">
        <button id="author_posts_btn" class="btn btn-light btn-lg">My posts</button>
      </a>
      <a href="{% url 'blog:create_category' %}">
        <button id="create_cat_btn" class="btn btn-light btn-lg">Create category</button>
      </a>
      <a href="{% url 'blog:create_post' %}">
        <button id="create_post_btn" class="btn btn-light btn-lg">Create post</button>
      </a>
      <a href="{% url 'blog:logout' %}">
        <button id="logout_btn" class="btn btn-outline-light btn-lg">Log out</button>
      </a>
      {% else %}
      <p id="nav_username">Hi, Anon user!</p>
      <a href="{% url 'blog:sign_in' %}">
        <button id="sign_in_btn" class="btn btn-outline-light btn-lg">Sign in</button>
      </a>
    {% endif %}
    
  </div>

  <a href="{% url 'blog:home' %}">
    <h1 id="web_title" class="text-center">Web blog App</h1>
  </a>

  {% if form.errors %}
  <script>
    $(function() {
      $('#error_modal').modal({show: true});
    });
  </script>
  {% endif %}

  <div id="error_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error</h5>
        </div>
        <div class="modal-body">
          <p>{{ form.errors }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}
</body>
</html>