{% extends 'blog/base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/home.css' %}">
{% endblock %}

{% block content %}
  <div id="card_entries" class="card">
    <div class="card-body">
      <h3 class="card-title text-center">{% block h3 %}{% endblock %}</h3>
      
      <div id="entries_list">
        {% block entries_list %}
        {% endblock %}
      </div>

    </div>
  </div>

  <div id="card_filters" class="card">
    <div class="card-body  text-center">
      <h3 class="card-title">Filters</h3>

      <div id="dropdown_filters">
        <div class="btn-group btn-md w-75" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Author
          </button>
          <div class="dropdown-menu w-100" aria-labelledby="btnGroupDrop1">
            {% for author in authors %}
              <a class="dropdown-item" href="{% url 'blog:author_filter' author.username %}">{{ author }}</a>
            {% endfor %}
          </div>
        </div>
  
        <div class="btn-group btn-md w-75" role="group">
          <button id="btnGroupDrop2" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu w-100" aria-labelledby="btnGroupDrop2">
            {% for category in categories %}
              <a class="dropdown-item" href="{% url 'blog:category_filter' category.slug %}">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
  
        <div class="btn-group btn-md w-75" role="group">
          <button id="btnGroupDrop3" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tags
          </button>
          <div class="dropdown-menu w-100" aria-labelledby="btnGroupDrop3">
            {% for tag in tags %}
              <a class="dropdown-item" href="{% url 'blog:tags_filter' tag %}">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}