{% extends 'blog/base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/home.css' %}">
{% endblock %}

{% block content %}
  <div id="card_entries" class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Users posts</h3>
      
      <div id="entries_list">

        {% if object_list %}
          {% for post in object_list %}
            <div class="card entry_item">
              <div class="card-body">
                <h4>{{ post.title }}</h4>
                <span>By: </span>
                <a>{{ post.author.username }}</a>
                
                <div class="entry_stats">
                  <div class="like_stat">
                    <i class="fa fa-heart"></i>
                    <span>{{ post.number_of_likes }}</span>
                  </div>
                  <div class="comment_stat">
                    <i class="fa fa-comment"></i>
                    <span>{{ post.blog_comments.all.count }}</span>
                  </div>
                </div>
              </div>
              <a class="stretched-link" href="{% url 'blog:view_post' post.slug %}"></a>
            </div>
          {% endfor %}
        {% else %}
          {{ Post }}
          <p>Empty field</p> 
        {% endif %}
        
      </div>

    </div>
  </div>

  <div id="card_filters" class="card">
    <div class="card-body  text-center">
      <h3 class="card-title">Filters</h3>

      <div id="dropdown_filters">
        <div class="btn-group btn-md w-75" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Author
          </button>
          <div class="dropdown-menu w-100" aria-labelledby="btnGroupDrop1">
            {% for author in authors %}
              <a class="dropdown-item" href="#">{{ author }}</a>
            {% endfor %}
          </div>
        </div>
  
        <div class="btn-group btn-md w-75" role="group">
          <button id="btnGroupDrop2" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu w-100" aria-labelledby="btnGroupDrop2">
            {% for category in categories %}
              <a class="dropdown-item" href="#">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
  
        <div class="btn-group btn-md w-75" role="group">
          <button id="btnGroupDrop3" type="button" class="btn btn-light border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tags
          </button>
          <div class="dropdown-menu w-100" aria-labelledby="btnGroupDrop3">
            {% for tag in tags %}
              <a class="dropdown-item" href="#">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- <div id="btn_filters" class="btn-group-vertical btn-md w-75" role="group" aria-label="filters">
        <button type="button" class="btn btn-light border">Author</button>
        <button type="button" class="btn btn-light border">Category</button>
        <button type="button" class="btn btn-light border">Tags</button>
        <button type="button" class="btn btn-danger">Delete filters</button>
      </div> -->
    </div>
  </div>
{% endblock %}