{% extends 'blog/base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/home.css' %}">
{% endblock %}

{% block content %}
  <div id="card_entries" class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Users posts</h3>
      
      <div id="entries_list">

        {% if object_list %}
          {% for post in object_list %}
            <div class="card entry_item">
              <div class="card-body">
                <h4>{{ post.title }}</h4>
                <span>By: </span>
                <a>{{ post.author.username }}</a>
                
                <div class="entry_stats">
                  <div class="like_stat">
                    <i class="fa fa-heart"></i>
                    <span>{{ post.number_of_likes }}</span>
                  </div>
                  <div class="comment_stat">
                    <i class="fa fa-comment"></i>
                    <span>{{ post.blog_comments.all.count }}</span>
                  </div>
                </div>
              </div>
              <a class="stretched-link" href="{% url 'blog:view_post' post.slug %}"></a>
            </div>
          {% endfor %}
        {% else %}
          {{ Post }}
          <p>Empty field</p> 
        {% endif %}
        
      </div>

    </div>
  </div>

  <div id="card_filters" class="card">
    <div class="card-body  text-center">
      <h3 class="card-title">Filters</h3>
      <div id="btn_filters" class="btn-group-vertical btn-md w-75" role="group" aria-label="filters">
        <button type="button" class="btn btn-light border">Author</button>
        <button type="button" class="btn btn-light border">Category</button>
        <button type="button" class="btn btn-light border">Tags</button>
      </div>
    </div>
  </div>
{% endblock %}