{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog | Sign up</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/sign_up.css' %}">
  <!-- Bootstrap, JavaScript Bundle with Popper -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
  {% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <a href="/">
    <h1 id="web_title" class="text-center">Web blog App</h1>
  </a>
  <div id="card_signup" class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Sign up</h3>
      <form id="form_signup" method="post" role="form">
        {% csrf_token %}
        <div class="form-group mb-3 w-75">
          <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
          {{ form.username }}
          {{ form.username.errors }}
        </div>
        <div class="form-group mb-3 w-75">
          <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
          {{ form.password1 }}
          {{ form.password1.errors }}
        </div>
        <div class="form-group mb-3 w-75">
          <label for="{{ form.password2.id_for_label }}" class="form-label">Password confirmation</label>
          {{ form.password2 }}
          {{ form.password2.errors }}
        </div>
        <button id="form_btn" type="submit" class="btn btn-primary btn-md w-75">Sign up</button>        
      </form>
    </div>
  </div>

  {% endblock %}
</body>
</html>