{% extends 'blog/base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/view_post.css' %}">
{% endblock %}

{% block content %}
  <div id="post_container" class="row justify-content-md-center">
    <div id="view_card" class="card col-md-8">
      <div class="card-body">
        <h3 class="card-title text-center">{{ post.title }}</h3>
        <h6 class="text-center">By: {{ post.author.username }}</h6>
        <p id="post_content">{{ post.content }}</p>
        <div id="tags_cats">
          <div id="category">
            <span>Category: </span>{{ post.category.name }}
          </div>
          <div id="tags">
            <span>Tags: </span>
            {% if post.tags.all %}
              {{ post.tags.all|join:", " }}
            {% else %}
              <span>No tags</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    <div id="comments_section" class="card col-md-6">
      <div class="card-body">
        <h3 class="card-title text-center">Comments section</h3>
        <div id="comments_entries">
          {{ post.blog_comments.all }}
        </div>

        <div id="write_comment" class="">
          <form id="create_post" method="post" role="form" action="{% url 'blog:add_comment' post.slug %}">
            {% csrf_token %}
            <div class="form-group mb-3 row">
              <div class="col-sm-12">
                <label for="{{ form.comment_form.id_for_label }}" class="form-label">
                  <b>Leave a comment!</b>
                </label>
                {{ comment_form.content }}
              </div>
            <div class="form-group mb-3 text-center" id="form_btn">
              <button type="submit" class="btn btn-primary btn-md ">Comment</button> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}