{% extends 'blog/base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/view_post.css' %}">
{% endblock %}

{% block content %}
  <div id="post_container" class="row justify-content-md-center">
    <div id="view_card" class="card col-md-8">
      <div class="card-body">
        <h3 class="card-title text-center">{{ post.title }}</h3>
        <h6 class="text-center">By: {{ post.author.username }}</h6>
        <h6 class="text-center">Publish date: {{ post.publish_date }}</h6>
        <p id="post_content">{{ post.content }}</p>
        <div id="tags_cats">
          <div id="category">
            <span>Category: </span>{{ post.category.name }}
          </div>
          <div id="tags">
            <span>Tags: </span>
            {% if post.tags.all %}
              {{ post.tags.all|join:", " }}
            {% else %}
              <span>No tags</span>
            {% endif %}
          </div>
        </div>

        <div class="entry_stats">
          <div class="like_stat">
            {% if user.is_authenticated %}
              <form method="post" role="form" action="{% url liked_post|yesno:'blog:unlike_post,blog:like_post' post.slug %}">
                {% csrf_token %}
                <button id="like_btn" type="submit">
                  <i class="fa fa-heart {% if liked_post %} heart-liked {% endif %}"></i>
                </button>
                <span>{{ post.number_of_likes }}</span>
              </form>
            {% else %}
              <div>
                <i class="fa fa-heart {% if liked_post %} heart-liked {% endif %}"></i>
                <span>{{ post.number_of_likes }}</span>
              </div>
            {% endif %}
          </div>
          <div class="comment_stat">
            <i class="fa fa-comment"></i>
            <span>{{ post.blog_comments.all.count }}</span>
          </div>
        </div>

        {% if user.is_authenticated %}
          {% if user.id == post.author.id or user.is_superuser %}
            <div id="options" class="mb-3 text-center">
              <a href="{% url 'blog:edit_post' post.slug %}">
                <button class="btn btn-primary">Edit</button>
              </a>
              <a href="{% url 'blog:delete_post' post.slug %}">
                <button class="btn btn-danger">Delete</button>
              </a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    
    <div id="comments_section" class="card col-md-6">
      <div class="card-body">
        <h3 class="card-title text-center">Comments section</h3>
        <div id="comments_entries" class="border border-secondary">
          {% for comment in post.blog_comments.all %}
            <div class="card entry_item">
              <div class="card-body">
                <p>{{ comment.content }}</p>
              </div>
              <div class="card-footer text-muted">
                <span>By: {{ comment.author.username }}</span>
              </div>
            </div>
          {% empty %}
            <p class="text-center">Empty field</p>
          {% endfor %}
        </div>

        {% if user.is_authenticated %}
          <div id="write_comment">
            <form id="create_post" method="post" role="form" action="{% url 'blog:add_comment' post.slug %}">
              {% csrf_token %}
              <div class="form-group mb-3 row">
                <div class="col-sm-12">
                  <label for="{{ form.comment_form.id_for_label }}" class="form-label">
                    <b>Leave a comment!</b>
                  </label>
                  {{ comment_form.content }}
                </div>
              <div class="form-group mb-3 text-center" id="form_btn">
                <button type="submit" class="btn btn-primary btn-md ">Comment</button> 
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}